body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
}

h1 {
    font-size: 48px;
    color: #000;
}

.animation-area {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: #4caf50;
}

#football {
    position: absolute;
    width: 100px;
    top: 50px;
    left: 50px;
    transition: all 1s ease-in-out; /* Додаємо плавний перехід */
}

/* Лінійний шлях переміщення */
@keyframes moveFootball {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 500px;
        top: 100px;
    }
    100% {
        left: 0;
        top: 200px;
    }
}

/* Вихровий ефект */
@keyframes spinFootball {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
